{% extends "base.j2" %}


{% block content %}
  <h1>Тестовая страница</h1>
  <p>Это всё ещё тестовая страница нашего сайта</p>
  <p>Имя пользователя (тестовое) будет тут: {{ user_name }}</p>
{% endblock %}

